{% extends "base.html" %}

{% block title %}Employee Dashboard{% endblock %}

{% block links %}
  <!-- Custom styles for this template nagu from meta u pasted to script-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
  
  
{% endblock %}
{% block body %}
<body id="page-top">



  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Unitforce Technologies Consulting Pvt Ltd</a>

  
    <!-- Navbar Search form-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" method="GET">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="enter job">
        <div class="input-group-append">
          <!--<button class="btn btn-primary" type="button" href="">-->
            <button class="btn btn-primary" type="submit" value="Submit" href="{%url 'search'% }">Submit</button>
            
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    

  </nav>
  <div class="container">
    <h1><center><strong>Career opportunities</strong></center></h1>
    </div>

  <div id="wrapper"></div>

    

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">

            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" method="GET">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="enter job">
                <div class="input-group-append">
                  <!--<button class="btn btn-primary" type="button" href="">-->
                    <button class="btn btn-primary" type="submit" value="Submit" href="{%url 'search'% }">Submit</button>
                    
                  </button>
                </div>
              </div>
            </form>

            <a href="#">Back To Career Page</a>
          </li>
          
        </ol>


        
            
        
<!--card diplay-->
<div class="row">
  {% for d in da %}
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
        
      
        
      <!-- Title -->
    <h4 class="card-title font-weight-bold">{{d.JobTitle}}</h4>
    <h5 class="card-title">{{d.ExpRange}}</h5>
    <!-- Text -->
    
        
  
        <a href="#" data-toggle="modal" data-target="#myModal">View Job Description</a>
          
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                {% for d in da %} 
              <div class="modal-dialog">
              
                <!-- Modal content-->
                
                <div class="modal-content">
                       
                  <div class="modal-header">
                    
                    <h4 class="modal-title">{{d.JobTitle}}</h4>
                  </div>
                  <div class="modal-body">
                    
                    <p>{{d.ShortDescription}}</p>
                    
                  </div>
                  
                  <div class="modal-footer">
                      
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
                  
                  </div>
                   
                
                
              </div>
              {%endfor%}
            </div>
    
        
    

      
      
    
    
    
    <!--<p class="card-text">{{d.FunctionalArea}}</p>
    <p class="card-text">{{d.Location}}</p>-->
    <div class="text-right mb-3">
      <a href="{{d.ApplicationURI}}" class="btn btn-primary">Apply</a>
      </div>
    </div>
  </div>
  
  
</div>
{%endfor%} 
</div>

<!--end of card-->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  
  

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="/static/js/demo/datatables-demo.js"></script>
  <script src="/static/js/demo/chart-area-demo.js"></script>

</body>
{% endblock %}
